body {
    background: #ffcad1;
    font-family: "Nunito";
}

h2 {
    color: #ea1c2c;
    font-weight: 300;
    font-size: 2.5rem;
}

.lavender p {
    color: #c86c84;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

.lavender h2 {
    color: #edbe4a;
    font-weight: 300;
    font-size: 2.5rem;
}

.gumball p {
    color: #53c1c0;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

.gumball h2 {
    color: #ec9291;
    font-weight: 300;
    font-size: 2.5rem;
}

.mint p {
    color: #ebf7f5;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

.mint h2 {
    color: #00d6e5;
    font-weight: 300;
    font-size: 2.5rem;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#headingGroup span {
    color: #ea1c2c;
    font-size: 4rem;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
    color: #baeeff;
}

.img-fluid img {
    width: 100%;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
        font-weight: 200;
    }

    #headingGroup span {
        font-size: 3rem;
        font-weight: 200;
    }
}