body {
    background: #ffbecc;
    font-family: "Nunito";
}

h2 {
    color: #ea1c2c;
    font-weight: 300;
    font-size: 2.5rem;
}

.lavender p {
    color: #c86c84;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 2;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#headingGroup span {
    color: #ea1c2c;
    font-size: 4rem;
}

#headingGroup h1 {
    font-weight: 200;
    font-size: 4rem;
    color: #c2ebf9;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 3rem;
        font-weight: 200;
    }

    #headingGroup span {
        font-size: 3rem;
        font-weight: 200;
    }
}